@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  font-family: Nunito;
}

.Btn {
  background-color: orange;
  border: none;
  width: 5rem;
  font-weight: 700;
  font-size: 15px;
  color: green;
}
